/* :root {
  --dark-green: #1a3a27;
  --crimson: #dc143c;
  --gold: #ffd700;
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-crimson {
  background-color: var(--crimson);
}

.bg-gold {
  background-color: var(--gold);
}

.text-dark-green {
  color: var(--dark-green);
}

.text-crimson {
  color: var(--crimson);
}

.text-gold {
  color: var(--gold);
}

.border-gold {
  border-color: var(--gold);
} */
